.moves-list {
  display: inline-block;

  &__header {
    font-size: 22px;
    font-weight: bold;
  }

  &__list {
    height: 50vh;
    border-radius: 5px;
    border: 2px gray solid;
    overflow: auto;
    width: fit-content;
  }

  &__item {
    border-bottom: 1px gray solid;
  }
}