.pokemon-stats-row {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 3fr;
  border-bottom: 1px #cccccc solid;
  padding: 5px;

  &__name {
    color: gray;
    font-weight: 500;
    text-align: right;
  }

  &__base-stat {
    font-weight: bold;
    text-align: center;
  }

  &__line {
    width: 100%;
    border-radius: 5px;


    &-filler {
      height: 100%;
      border-radius: 5px;
    }
  }
}